# =========================
# PlatformIO
# =========================

.pio/
.pioenvs/
.piolibdeps/
.platformio/

# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/
ENV/

build/
dist/
*.egg-info/
.eggs/

*.log

htmlcov/
.coverage
.coverage.*
.pytest_cache/
.tox/

.ipynb_checkpoints

# =========================
# C++ / CMake
# =========================

*.o
*.obj
*.so
*.a
*.out
*.exe
*.dll

CMakeFiles/
CMakeCache.txt
cmake-build-*/
compile_commands.json
Makefile

bin/

# =========================
# VSCode
# =========================

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# =========================
# Other IDEs
# =========================

.idea/
.project
.cproject
.settings/

# =========================
# OS / Misc
# =========================

*~
.DS_Store
Thumbs.db

*.swp
*.swo

tmp/
temp/
*.tmp

*.csv